html, body {
    /* background: radial-gradient(#FE642E, #F7FE2E); */
    background: #fff url(../img/bg.jpg);
    height: 100%;
}

.titulo {
    font-size: 30px;
    background-color: crimson;
    text-align: center;
    color: gold;
    padding: 16px;
}

.carta {
    position: relative;
    width: 110px;
    left: 80px;
    margin-left: -70px;
}

.titulo-partida {
    margin: 0 auto;
}

.final-partida {
    font-size: 18px;
}

#botones {
    font-size: 12px;
}

#cartas-jugador, #cartas-ordenador {
    height: 200px;
}

